@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

/* Grobal */
.container{
    margin: 0px 80px;
}
.orange{
    color: orange;
}
.btn{
    background: #FF5959;
    color: white;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 5px;
    margin-top: 5px;
    display: inline-block;
    font-family: 'Poppins',sans-serif;
}

.p-tag{
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    font-family: 'Poppins',sans-serif;
}


/* Header  */
.header{
    display: flex;
    gap: 50px;
}
.header .left h1{
    font-weight: 500;
    margin-bottom: 35px;
    margin-top: 50px;
    font-size: 50px;
}

.header .left .bd{
    border-left: 5px solid orange;
    padding-left: 20px;
}


.header .left,
.header .right{
    width: 50%;
}
.header .right img{
    width: 426px;
    height: 623px;
}
/* Section  */

.sec h1{
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Poppin',sans-serif;
    font-size: 50px;
    margin-top: 40px;
}

.cards{
    display: flex;
    gap: 30px;
    margin: 0 80px;
    margin-bottom: 100px;
}
.card1{
    background-color: #4f9da632;
}
.card2{
    background-color: #ff595933;
}
.card3{
    background-color: #FFF4D6;
}
.card{
    border-radius: 20px;
    padding: 20px;
    font-family: 'Poppins',sans-serif;
}
.card h2{
    margin-bottom: 20px;
}
.card img {
    width: 141px;
    height: 141px;
}

.project{
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
}
.project .right1 h1{
    font-weight: 500;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 30px;
}
.project .left1,
.project .right1{
    width: 50%;
}
.project .left1 img{
    width: 400px;
    height: 400px;
}

.project2{
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
}
.project2 .left2 h1{
    font-weight: 500;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 30px;
}
.project2 .left2,
.project2 .right2{
    width: 50%;
}
.project2 .right2 img{
    width: 400px;
    height: 400px;
}
/* Last Section  */

.last-section h1{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    font-size: 50px;
    margin-bottom: 100px;
}
.app{
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
}
.app .info h1{
    font-weight: 500;
    font-size: 40px;
    font-family: 'Poppins',sans-serif;
}
.app .info,
.app .pic{
    width: 50%;
}
.app .pic img{
    width: 229px;
    height: 471px;
}

/* Footer  */
.ft{
    background-color: #000;
    color: white;
    padding: 50px;
}
.ft h2{
    font-family: 'Lobster',sans-serif;
    text-align: center;
}
.ft p{
    text-align: center;
    font-family: 'Poppins',sans-serif;
}